/* section1 */
body
{
  overflow-x: scroll;
}
.p-section1 p{
  font-size: 25px;
  display: block;
  color: white;
  margin-bottom: 20px;
  text-align: center;
}

.box{
  height: 350px;
  width:87%;
  background-color: #4169E1;
  display: grid;
  grid-template-columns:2fr 1fr;
  align-items: center;
  border-radius: 10px;
  margin-top: 120px;
  margin-left: 7%;
}
.box .bold-p{
  font-weight: bold;
  font-size: 35px;
}
.box{
  margin-bottom: 50px;
}
/* section2 */
.check-question{
  font-size: 30px;
  padding-bottom: 30px;
  padding-top: 30px; 
}
/* .checkbox{
  height: 1200px;
} */
.section-checkbox input{
  width: 40px;
  height: 40px;
  background-color:#4169E1;
}
.section-box label{
  margin-bottom: -100px;
}
/* .section-checkbox{
  margin-left: 7%; 
  margin-bottom: 30px;
} */
.flex-box-m{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height:1200px;
  margin-left: 10%; 
}

.section-checkbox label{
  margin-left: 10px;
  font-size: 25px;
  margin-right: 10px;
}
.button-div button{
  background-color: #4169E1;
  border: none;
  width: 120px;
  height: 60px;
  color: white;
  font-size: 18px;
  border-radius: 15px;
  font-weight: bold;
  
}
.button-div{
  display: flex;
  justify-content: end;
  margin-right: 10%;
  margin-top: 30px;
}
.section-checkbox{
  display: grid;
  grid-template-columns: repeat(5,250px);
  gap: 40px;
}
/* section3 */
.p-recommend p{
  color: #4169E1;
  font-size: 30px;
  font-weight: bold;
}
.p-recommend{
  padding-top: 40px;
  padding-bottom: 40px;

}
.infor{
  background-color: #4169E1;
  width: 390px;
  height: 200px;
  border-radius: 10px;
}
.img-infor a{
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
.img-infor a:hover,.img-infor i:hover{
  text-decoration: underline;
}
.infor .infor-p a{
  color: white;
  text-decoration: none;
  font-size: 15px;
  
}
.infor .infor-p a:hover{
  text-decoration:underline;
}
.img-infor i{
  font-size: 20px;
  padding-right: 18px;
}
.img-infor{
  display: flex;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 10px;
  width: 400px;
  
}
.infor{
  display: flex;
  flex-direction: column;
}
.infor-p{
  margin-left: 15px;
}
.grid-m{
  display: grid;
  grid-template-columns: repeat(4,360px);
  /* grid-template-rows: repeat(2,1fr); */
  gap: 70px ;
  /* margin-left: 7%;
  margin-top: 5%; */
}
.recommend{
  margin-left: 7%;
}

/* .box,.checkbox{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
} */

@media (max-width:1400px){
  
  .box .bold-p{
    font-size: 25px;
  }
  .box p{
    font-size: 18px;
  }
  .box img{
    width: 250px;
    height: 180px;
  }
  .box{
    height: 250px;
  }
  .section-checkbox{
    grid-template-columns: repeat(4,250px);
    
  }
  .section-checkbox label{
    font-size: 20px;
  }
  .section-checkbox input{
    width: 35px;
    height: 35px;
  }
  .check-question{
    font-size: 25px;
  }
  .grid-m{
    grid-template-columns: repeat(3,360px);
  }
}
@media (max-width:900px){
  
  .box .bold-p{
    font-size: 18px;
  }
  .box p{
    font-size: 15px;
  }
  .box img{
    width: 200px;
    height: 150px;
  }
  .box{
    height: 200px;
  }
  .section-checkbox{
    grid-template-columns: repeat(3,250px);
    
  }
  .section-checkbox label{
    font-size: 17px;
  }
  .section-checkbox input{
    width: 30px;
    height: 30px;
  }
  .check-question{
    font-size: 23px;
  }
  .grid-m{
    grid-template-columns: repeat(2,360px);
  }
  
}
@media (max-width:650px){
  
  .box .bold-p{
    font-size: 15px;
  }
  .box p{
    font-size: 10px;
  }
  .box img{
    width: 150px;
    height: 100px;
  }
  .box{
    height: 200px;
  }

}