/* General styling */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.left-panel {
  background-color: #446fc7;
  width: 50%;
  padding: 40px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-panel {
  background-color: #668ccc;
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-section {
  text-align: center;
}

.university-logo {
  padding-left: 7px;
  width: 100px;
  height: 100px;
  background-color: black;
  border-radius: 50%;
  margin-bottom: 20px;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  line-height: 1;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 40px;
}

.learn-more {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.form-section {
  background-color: #668ccc;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
}

.checkbox {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.submit-btn {
  width: 100%;
  background-color: #0056f7;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #0046d7;
}

footer {
  text-align: center;
  padding: 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-icons a {
  margin: 0 10px;
}
.social-icons a img {
  width: 30px;
  margin: 0 10px;
}