.main-section{
  display: flex;
  margin-top: 60px;
}
.menu{
  margin-left: 100px;
  width: 10%;
}
.menu ul li{
  font-size: 2.2rem;
  margin-bottom:50px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  
}
.menu ul li a {
  color: #4169E1;
  text-decoration: none;
}
.menu ul{
  margin-top: 70px;
}
.menu ul li a:hover{
  text-decoration:underline;
  color: hsl(239, 65%, 40%)
}
.collabsible-container{
  background-color: #4169E1;
  width: 1400px;
  height: 2000px;
  border-radius: 25px;
  margin-left: 40px;
}
.head{
  display: flex;
}
.head img{
  width: 200px;
  height: 200px;
  margin-left: 60px;
}
.head label{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.8rem;
  font-weight: bold;
  color: #fff;
  display: flex;
  height: 200px;
  align-items: center;
  /* margin-left: 30px; */
}
.collabsible-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.content p{
  font-size: 2rem;
  color: #4169E1;
}

.collapsible {
  border: 1px solid #ddd;
  border-radius: 15px; /* Add border radius here */
  margin-top: 10px;
  overflow: hidden;
  width: 1150px;
  margin-left: 100px;
  margin-bottom: 15px;
}

.collapsible-header {
  background-color: #fff;
  color:#4169E1;
  font-weight: bold;
  cursor: pointer;
  padding: 20px;
  padding-left: 30px;
  font-size: 18px;
  /* text-align: center; */
  transition: background-color 0.3s ease;
  border-top-left-radius: 15px; /* Rounded corners on the top-left */
  border-top-right-radius: 15px; /* Rounded corners on the top-right */
}

.collapsible-header:hover {
  background-color: #ececec;
}

.content {
  padding: 15px;
  display: none; /* Hidden by default */
  background-color: #fff;
}
.collapsible :hover{
  background-color: #ececec;
}
.department li{
  font-size: 1.6rem;
  padding-bottom: 8px;
  color: #4169E1;
  font-weight: bold;
  list-style-type: circle;
  margin-left: 30px;
}

/* Extra Small Devices (Phones, 0px - 575px) */
@media (max-width: 575.98px) { 
  .collapsible {
    width: 90%;
    margin-left: 10px;
  }
}

/* Small Devices (Landscape Phones, 576px - 767px) */
@media (min-width: 576px) and (max-width: 767.98px) { 
  .collapsible {
    width: 100%;
    margin-left: 0;
  }
}

/* Medium Devices (Tablets, 768px - 991px) */
@media (min-width: 768px) and (max-width: 991.98px) { 
  .collapsible {
    width: 80%;
    margin-left: 0;
  }
}

/* Large Devices (Desktops, 992px - 1199px) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
  .collapsible {
    width: 70%;
    margin-left: 0;
  }
}

/* Extra Large Devices (1200px - 1599px) */
@media (min-width: 1200px) and (max-width: 1599.98px) { 
  .collapsible {
    width: 1000px;
    background-color: #4169e1;
  }
}

/* Ultra Large Devices (Monitors, 1600px and up) */
@media (min-width: 1600px) { 
  .collapsible {
    width: 1200px;
    background-color: #4169e1;
  }
}