html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.image-container {
    width: 100%;
    height: calc(200px + 10px);
    overflow: hidden;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.responsive-img {
    width: 100%;
    height: 80%;

}

.text-button {
    background: none;
    border: none;
    color: #4169E1;
    text-decoration: underline;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

.text-button:hover {
    text-decoration: underline;
}

.scholarship-container {
    background-color: #4169E1;
    height: calc(500px + 10px);
    width: 45%;
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: auto;
    border-radius: 3%;

}

.rowbody {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    margin-bottom: 10px;
}

.style-uniname {
    font-size: 20px;
    color: white;
}

.imageUni-container {
    width: 20px;
}